
body{
    background-color: antiquewhite;
    text-align: center;
    font-family: cursive;
}
table{
    margin: auto;
}

th, tr, td{
    padding: 5px;
    
}

.turnGreen{
    background-color: green;
}